
/* /////////////////////////////////////////////////////////////////////
                GENERAL
//////////////////////////////////////////////////////////////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }

  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }

li{
    list-style: none;
}

li a{
    text-decoration: none   !important;
    color: rgb(26, 25, 25);
}

a{
    text-decoration: none !important;
    color: #1a191b  !important;
}

a:hover{
    color: black !important;
}

/* Reset default styles */
body, div, i, span {
  margin: 0;
  padding: 0;
}

/* Style the cart icon container */
.cart-icon {
  position: relative;
  display: inline-block;
  font-size: 24px; /* Adjust the size as needed */
}

/* Style the cart icon */
.cart-icon i {
  color: #333; /* Change the color as needed */
}

/* Style the item count badge */
.item-count {
  position: absolute;
  top: -8px; /* Adjust the vertical position as needed */
  right: -8px; /* Adjust the horizontal position as needed */
  background-color: #1086bd; /* Background color of the badge */
  color: #fff; /* Text color of the badge */
  border-radius: 50%; /* Make the badge circular */
  padding: 4px 8px; /* Adjust padding as needed */
  font-size: 12px; /* Adjust the font size as needed */
}


a  div#cartqty{
    border-radius: 50%  !important;
    width: 70px !important;
    height: 27px    !important;
    bottom: 4px;
    left: 1px;
    padding: 4px 4px 0px 4px !important;
}

a  div#cartqty  p{
    font-size: 10px  !important;
}

#pro-info-card{
    position: relative;
    padding: 10px;
}

.description1{
    padding-bottom: 17px;

}

#pro-info-card  .btn-dark {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



body{
    font-family: 'Poppins', sans-serif !important;
    background-color: #f1f1f1   !important;
        
}

.card{
    border: none !important;
    cursor: pointer;
    text-decoration: none;
}

.card img{
  height: auto;
}




/* /////////////////////////////////////////////////////////////////////
                HERO SECTION
//////////////////////////////////////////////////////////////////////*/


.slider {
    overflow: hidden;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
  }

  .slider-item {
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    max-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
  }

  .slider-item.active {
    opacity: 1;
  }

.hero{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    max-height: 100%;
}

.hero-content{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 10px;
}

.hero-content h2{
    width: 200px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 70px;
}

.hero-content h2 span{
    font-size: 20px;
    margin-left: 20px;
    font-style: italic;
    color: aliceblue;
}

.paragraph{
    width: 280px;
    padding: 10px;
    margin-right: 10px;
    color: white;
}

div.btndiv{
    height: 45% !important;
    width: 97% !important;
}

/* /////////////////////////////////////////////////////////////////////
                PRODUCTS
//////////////////////////////////////////////////////////////////////*/

.container .product-intro{
    margin: 0 auto !important;
}
  .img-cat{
     max-width: 100% !important;
     max-height: 50% !important;
	 }
  
.product-btn{
    position: absolute;
	padding: 16px;
	bottom: 1px;
	width: 100px;
 }
 .about_section{
  margin-top: 20px;

 }

 .about_section .img_container .img-box img {
  width: 100%;
}

.about_section .detail-box {
  background-color: #ffffff;
  padding: 45px 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-left: -45px;
}

.about_section .detail-box p {
  margin-top: 5px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}

.service_section {
  background-color: #1c1c1c;
}


 /* /////////////////////////////////////////////////////////////////////
                contact banner
//////////////////////////////////////////////////////////////////////*/

.contact-banner{
    margin-top: 10%;
    /* width: 100%; */
    background-image: url(../images/image.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-banner .form{
    width: 350px;
    background-color: transparent !important;
    margin: 10px 20px 40px;
}

/* /////////////////////////////////////////////////////////////////////
                slider
//////////////////////////////////////////////////////////////////////*/
.contain{
  margin-top: 25px;
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 225px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.slider-wrapper .image-list .image-item:hover {
  background-color: #1086bd;
  opacity: 0.2;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Add styles for the hover effect, clickable love icon, and "See More" link */
.slider-wrapper .image-list .image-item {
  position: relative;
}

.slider-wrapper .image-list .image-item .image-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.love{
  position: absolute;
  top: 50%;
}


/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
 /* /////////////////////////////////////////////////////////////////////
                footer
//////////////////////////////////////////////////////////////////////*/

.footer-menu{
    display: none;
    width: 100%;
    position: relative;
    bottom: -5;
    padding: 17px 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.footer-menu i{
    width: 40px;
    margin: 0 32px;
    cursor: pointer;
}

.social-handles i{
    font-size: 15px;
    color: #ffc107;;
    padding: 10px;
}




 /* /////////////////////////////////////////////////////////////////////
                for buffet page
//////////////////////////////////////////////////////////////////////*/


/* styling for when each item is clicked */


.card img:hover{
    padding: 3px;
    transition: 0.1s ease-out;
}

.card{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}



.bg-light   p{
    font-size: 13px;
}

#img-light{
    background-color: #f1e9d7 !important;}


.modal-bg{
    width: 100%;
    max-width: 80%;
    background-color: #fff;
    /* justify-content: center; */
    padding: 0.4rem 1rem;
}

.m-btn-close{
    border-radius: 50%  !important;
    font-size: 17px !important;
    position:absolute;
    left: 79%;
}

.product-added{
    width: 30%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
 }

.m{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .m-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
  }

  .z{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .z-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
  }


  .modal-img-container{
    margin-left: 10px;
    margin-top: 22px;
    padding: 0;
  }

  .related-img-container{
    margin: 0 auto;
    width: 400px !important;
  }

  .show {
    display: block;
  }


.related-img{
    width: 125px;
    margin: 8px 8px 0px 0px;
}

  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #e02020;
    text-decoration: none;
    cursor: pointer;
  }

  /* .form-group {
	width: 100%;
	margin-top: 20px;
} */

.qtySelector{
	border: 1px solid #ddd;
	width: 107px;
	height: 35px;
	margin-left: 5px;
}
.qtySelector .fa{
	padding: 10px 5px;
	width: 35px;
	height: 100%;
	float: left;
	cursor: pointer;
}
.qtySelector .fa.clicked{
	font-size: 12px;
	padding: 12px 5px;
}
.qtySelector .fa-minus{
	border-right: 1px solid #ddd;
}
.qtySelector .fa-plus{
	border-left: 1px solid #ddd;
}
.qtySelector .qtyValue{
	border: none    !important;
	padding: 5px    !important;
	width: 35px !important;
	height: 100%    !important;
	float: left !important;
	text-align: center  !important;
}

.qtyselector-cart   .qtyValue{
    border-radius: none    !important;
	padding: 5px    !important;
	width: 40px !important;
	height: 100%    !important;
	float: left !important;
	text-align: center  !important;
   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:focus {
    border-color: #1a191b   !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(17, 15, 15, 0.6) !important;
  }

#pro-info-card{
    background-color: white;
    height: 100%;
    padding-left: 6px;
    padding-top: 7px;
}

#pro-info-card  p{
    font-size: 15px;
    line-height: 22px;
}

/* ################################################################################
     for    carts
####################################################################################*/

.summary{
    display: none;
}




/* ################################################################################
     responsive
####################################################################################*/

      /* responsive for 425px */
         @media (max-width: 425px){
            #modal-img{
               width: 350px;
            }

            .related-img{
                width: 180px;
                margin: 10px 10px 0px 0px;
            }
            
        }

         /* responsive for 370px */
         @media (max-width: 375px){
            #modal-img{
               width: 300px;
            }

            .related-img{
                width: 150px;
                margin: 10px 10px 0px 0px;
            }
            
        }

      /* responsive for 320px */
        @media (max-width: 320px){
            #modal-img{
               width: 260px;
            }

            .related-img{
                width: 130px;
                margin: 10px 10px 0px 0px;
            }
            
        }
   


     