

/* General */

.logo{
    padding: 10px;
    margin: 0 auto;
}

.logo h2{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

nav{
    padding: 12px 12px  0px 0px;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);}

.nav-bg{
    background-color: white !important;
}



.show-menu{
    padding: 0px 10px;
}


a{
    text-decoration: none !important;
}

a:hover{
    color: black !important;
}

body{
    background-color: #f1f1f1   !important;
}

/* products info */
.product-information p{
    margin-left: 40px;
}

.page-path{
    width: 500px;
    margin-left: 55px;
}

.page-path h4{
   font-size: 16px !important; 
   text-transform: capitalize;
}

.product-title-head h3{
    font-weight: bold !important;
}

.card{
    border: none !important;
    cursor: pointer;
    text-decoration: none;
}


.card img{
    height: 300px;
}

.item-btn{
    border: none !important;
    font-size: 15px !important;
    font-weight: bold;
}

.fs-7{
    font-size: 12px !important;
    width: 100%;
    text-align: center  !important;
}